*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    background-image: url('image/bg1.jpg');
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-position: center;
    color:rgb(0, 170, 255);
     
}

.project{
    margin-top:15px;
    overflow: hidden;
    width: 100%

}

.project-item{
    float:left;
    width: 30%;
    border: 1px solid red;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 300px;
    background-color: bisque;
    text-align: center;
    color: blue;
      
}

.image{
    width:100%;
    height: 200px;
}

.foter{
    background-color: black;
    color: rgb(238, 247, 244) ;
    height: 150px;
    margin-top: 10px;
}

.foter-iten{
    float: left;
    width: 33%;
    margin-top: 10px;
    padding-left: 30px;
       
}

.link{
    text-decoration: none;
    color:rgb(180, 240, 29);
    display: block;
}

@media screen and (max-width: 992px){
        .hero{
      height: 250px;
       
}

 @media screen and (max-width: 800px){
        .hero{
      height: 250px;
       
}
    }

    @media screen and (max-width: 768px){
        .hero{
      height: 230px;
       
}
    }

@media screen and  (max-width:700px){
    .hero{
      height: 200px;

    }
}

@media screen and  (max-width:576px){
    .hero{
      height: 160px;

    }
}
  
@media screen and (max-width:880px) {
    .project-item{
    width: 30%;
    height: 280px;
    
}
}

@media screen and (max-width:830px) {
     .project-item{
    width: 30%;
    height: 250px;
     }
     .image{
        height: 180px;
     }
}

@media screen and (max-width:768px) {
     .project-item{
    width: 45%;
    height: 300px;
     }
    
}

@media screen and (max-width:620px) {
     .project-item{
    width: 45%;
    height: 250px;
     }
    .image{
        height: 200px;
    }
}

@media screen and (max-width:576px) {
     .project-item{
    width: 95%;
    height: 300px;
     }
    .image{
        height: 200px;
    }
}

@media screen and (max-width:360px) {
     .project-item{
      height: 260px;
     }
    .image{
        height: 180px;
    }
}

@media screen and (max-width: 992px) {
    .foter{
    height: 200px;  
}
.foter-iten{
   width: 48%;
   
}

@media screen and (max-width: 768px) {
    .foter{
    height: 270px;  
}
.foter-iten{
   width: 100%;
   font-size: large;
   margin-top: 30px;
   
}

