*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    background-image: url('image/bg1.jpg');
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-position: center;
    color:rgb(0, 170, 255);
     
}

.project{
    margin-top:15px;
    overflow: hidden;
    width: 100%

}

.project-item{
    float:left;
    width: 30%;
    border: 1px solid red;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 300px;
    background-color: bisque;
    text-align: center;
    color: blue;
      
}

.image{
    width:100%;
    height: 200px;
}

.foter{
    background-color: black;
    color: rgb(238, 247, 244) ;
    height: 150px;
    margin-top: 10px;
}

.foter-iten{
    float: left;
    width: 33%;
    margin-top: 10px;
       
}

.link{
    text-decoration: none;
    color:rgb(180, 240, 29);
    display: block;
